<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Números por Extenso</title>

    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/script.js" defer></script>
</head>

<body>
    <div id="container">
        <h1>Números por Extenso</h1>
        <label>Escolha um número entre 0 e 999</label>
        <input type="range" id="input-range" min="0" max="999" value="0">

        <label> Número atual:</label>
        <input type="text" id="input-number" value="0" disabled>

        <label> Número por extenso:</label>
        <input type="text" id="input-extenso" value="Zero" disabled>
        
    </div>
</body>

</html>