.flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid lightgray;
  border-radius: 8px;
  padding: 5px;
}

.info {
  min-width: 150px;
}
